a {
    text-decoration: none; /* no underline */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-menu {
    color: #fff !important;
}
